<div class="main-container">
    <div class="container">
        <p class="login">LOGIN</p>
        <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
            <div class="form-div">
                <mat-form-field class="input">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="userName" required>
                    <mat-error>Enter Valid Email</mat-error>
                  </mat-form-field>
            </div>
            <div class="form-div">
                <mat-form-field class="input">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" required>
                    <mat-error>Enter Valid Email</mat-error>
                  </mat-form-field>
            </div>
            <div class="form-div">
                <button type="submit" class="button">Login</button>
            </div>
        </form>
        <p class="signup-control">Not a User?<a href=""> Signup now</a></p>
    </div>
</div>