<div class="main-container">
    <div class="container">
        <p class="user-login">USER LOGIN</p>
        <form>
            <div class="input">   
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="input">   
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="input">   
                <button type="submit" class="form-control submit">Login</button>
            </div>
        </form>
        <div class="or">______________ OR ______________</div>
        <div class="signup">Not a User?<a href="/signup" class="register">  Register <i class="fa-solid fa-arrow-right"></i></a></div>
    </div>
</div>