<div class="main-container">
    <div class="container">
        <p class="user-login">USER SIGNUP</p>
        <form>
            <div class="input">   
                <input type="text" class="form-control" placeholder="User Name">
            </div>
            <div class="input">   
                <input type="text" class="form-control" placeholder="PhoneNumber">
            </div>
            <div class="input">   
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="input">   
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="input">   
                <input type="password" class="form-control" placeholder="Confirm Password">
            </div>
            <div class="input">   
                <button type="submit" class="form-control submit">Signup</button>
            </div>
        </form>
        <div class="or">______________ OR ______________</div>
        <div class="signup">Already have Account?<a href="/login" class="register">  Login <i class="fa-solid fa-arrow-right"></i></a></div>
    </div>
</div>