<toolbar-component></toolbar-component>
<div class="table">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">S.NO</th>
            <th scope="col">SMARTMETER ID</th>
            <th scope="col">PROVIDER</th>
            <th scope="col">SWITCH PROVIDER</th>
            <th scope="col">VIEW DETAILS</th>
          </tr>
        </thead>
        <tbody *ngFor="let smartmeter of smartMeters;index as i">
          <tr>
            <td>{{i+1}}</td>
            <td>{{smartmeter.id}}</td>
            <td>{{smartmeter.provider}}</td>
            <td>
              <button class="btn btn-dark" (click)="switchSmartMeter(smartmeter.id)">
                Switch
              </button>
            </td>
            <td><button class="btn btn-light" (click)="viewSmartMeter(smartmeter.id)">
              View
            </button></td>
          </tr>
        </tbody>
      </table>
</div>
