<app-toolbar-component></app-toolbar-component>
<div class="table">
    <table class="table table-hover">
        <thead>
          <tr>
            <!-- <th scope="col">S.NO</th> -->
            <th scope="col">SMART METER ID</th>
            <th scope="col">USER</th>
            <th scope="col">PROVIDER</th>
            <th scope="col">APPROVE</th>
            <th scope="col">REJECT</th>
          </tr>
        </thead>
        <tbody *ngFor="let smartmeter of smartmeters | paginate:{itemsPerPage:limit,currentPage:page};index as i">
          <tr>
            <!-- <th scope="row">{{i+1}}</th> -->
            <td>{{smartmeter.id}}</td>
            <td>{{smartmeter.userName}}</td>
            <td>{{smartmeter.provider}}</td>
            <td>
              <button class="btn btn-dark" (click)="smartmeterStatus(smartmeter.id,'approved')">
                Approve
              </button>
            </td>
            <td>
              <button class="btn btn-light" (click)="smartmeterStatus(smartmeter.id,'reject')">
                Reject
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
</div>