<div class="main-container">
    <div class="container">
        <p class="login">SIGNUP</p>
        <form [formGroup]="loginForm" (ngSubmit)="createUser()">
            <div class="form-div">
                <mat-form-field class="input">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name" required>
                    <mat-error>Enter Valid Name</mat-error>
                </mat-form-field>
            </div>
            <div class="form-div">
                <mat-form-field class="input">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" required>
                    <mat-error>Enter Valid Email</mat-error>
                  </mat-form-field>
            </div>
            <div class="form-div">
                <mat-form-field class="input">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phoneNumber" required>
                    <mat-error>Enter Valid Phone Number</mat-error>
                  </mat-form-field>
            </div>
            <div class="form-div">
                <mat-form-field class="input">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" required>
                    <mat-error>Password is Required</mat-error>
                  </mat-form-field>
            </div>
            <div class="form-div">
                <button type="submit" [disabled]="!loginForm.valid" class="button">Signup</button>
            </div>
        </form>
    </div>
</div>









