<div mat-dialog-content>
  <p>Please select the Provider</p>
  <mat-form-field appearance="fill">
    <mat-label>Provider</mat-label>
      <mat-select [(ngModel)]="selected">
        <mat-option *ngFor="let provider of providers" [value]="provider.name">{{provider.name}} -- {{provider.rate}} Rate per W</mat-option>
      </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="selected" cdkFocusInitial>Ok</button>


  <!-- <form>
    <mat-form-field appearance="fill">
      
  </mat-form-field>
  <p>{{selectedva}}</p>
  </form> -->